body {
  background-color: #90b3f8;

}
hr {
  background-color: #90b3f8;
  border: none ;
  border-top: dotted;
  border-width: 20px;
  width: 10%;
}

h1, h2, h3 {
  color: #747972;
  background-color: rgb(195, 222, 243);
}